attrs==18.1.0
blessed==1.14.2
botocore==1.10.26
cement==2.8.2
colorama==0.3.7
decorator==4.3.0
Django==2.0.13
django-bootstrap3==10.0.1
django-crispy-forms==1.7.2
django-environ==0.4.4
docutils==0.14
jmespath==0.9.3
more-itertools==4.1.0
networkx==2.1
pathspec==0.5.5
pluggy==0.6.0
psycopg2-binary==2.7.4
py==1.5.3
python-dateutil==2.7.3
pytz==2018.4
PyYAML==3.12
requests==2.20.0
semantic-version==2.5.0
six==1.11.0
tabulate==0.7.5
termcolor==1.1.0
wcwidth==0.1.7
websocket-client==0.47.0
gunicorn==19.8.1
whitenoise==3.3.1
numpy==1.16.2
django-autocomplete-light==3.3.2
sentry-sdk==0.7.7
matplotlib==3.0.3
django-heroku==0.3.1
