container_commands:
  00collectstatic:
    command: "django-admin.py collectstatic --noinput"
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: "MTG_Pairing/wsgi.py"
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/":"static/"
  aws:elasticbeanstalk:application:environment:
    DJANGO_ALLOWED_HOSTS: mtg-pairings-env.2cmw6m9rb3.eu-central-1.elasticbeanstalk.com