{% extends 'base.html' %}

{% block body %}
    <h4>{{ object.name }}</h4>
    <p>
        {% with performance=object.all_time_performance %}
            <ol>
                <li>Matches: {{ performance.match_wins}} : {{ performance.match_losses }} | {% widthratio performance.match_win_percentage 1 100 %}% Winrate</li>
                <li>Games: {{ performance.wins }} : {{ performance.losses }}  | {% widthratio performance.win_percentage 1 100 %}% Winrate</li>
            </ol>
        {% endwith %}
    </p>

    <ul>
        {% for tournament in object.tournaments.all %}
            <li>
                <a href="{{ tournament.get_absolute_url }}"> {{ tournament }} </a>
            </li>
        {% endfor %}
    </ul>
{% endblock body %}