{% extends 'base.html' %}


{% block body %}
    <table class="table table-sm table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th class="text-right" scope="col">Matches</th>
                <th class="text-right" scope="col">Games</th>
                <th class="text-right" scope="col">Match Win Rate</th>
                <th class="text-right" scope="col">Game Win Rate</th>
            </tr>
            </thead>
            <tbody>
            {% for performance in object_list %}
                <tr {% if forloop.counter <= 3 %}class="player-row-{{ forloop.counter }}" {% endif %}>
                    <th scope="row">{% if forloop.counter <= 3 %}{{ forloop.counter }} {% endif %}</th>
                    <td style="width: 80%">
                        <a class="text-secondary" href="{{ performance.player.get_absolute_url }}"> {{ performance.player }} </a>
                    </td>
                    <td class="text-right">{{ performance.match_wins }} : {{ performance.match_losses }}</td>
                    <td class="text-right">{{ performance.wins }} : {{ performance.losses }}</td>
                    <td class="text-right">{% widthratio performance.match_win_percentage 1 100 %}% </td>
                    <td class="text-right">{% widthratio performance.win_percentage 1 100 %}% </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock body %}