{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}

    <h1>{{ object.name }}</h1>
    <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#player-list" aria-expanded="false" aria-controls="player-list">
            Players
        </button>
    </p>
    <div class="table-responsive collapse{% if object.finished %} show {% endif %}" id="player-list">
        <table class="table table-sm table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th class="text-right" scope="col">Matches</th>
                <th class="text-right" scope="col">Games</th>
            </tr>
            </thead>
            <tbody>
            {% for performance in object.standing %}
                <tr {% if forloop.counter <= 3 %}class="player-row-{{ forloop.counter }}" {% endif %}>
                    <th scope="row">{% if forloop.counter <= 3 %}{{ forloop.counter }} {% endif %}</th>
                    <td style="width: 80%">
                        <a class="text-secondary" href="{{ performance.player.get_absolute_url }}"> {{ performance.player.name }} </a>
                    </td>
                    <td class="text-right">{{ performance.match_wins }} : {{ performance.match_losses }}</td>
                    <td class="text-right">{{ performance.wins }} : {{ performance.losses }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="accordion">
        {% for round in object.rounds.all %}
            <div class="card" >
                <div class="card-header">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#round-{{ round.number }}" aria-expanded="false" aria-controls="collapseOne">
                        Round {{ round.number }}
                    </button>
                </div>
                <div class="collapse{% if not object.finished and forloop.last%} show{% endif %}" data-parent="#accordion" id="round-{{ round.number }}">
                    <div class="card-body">
                        {% if not object.finished and forloop.last %}
                            <form method="post" class="uniForm">
                                {% crispy round_form %}
                            </form>
                        {% else %}
                            <ol>
                                {% for duel in round.duels.all %}
                                    <li class="list-group-item">
                                        <p><b>{{ duel.player_1.name }}</b> {{ duel.player_1_wins }} - {{ duel.player_2_wins }} <b>{{ duel.player_2.name }}</b></p>
                                    </li>
                                {% endfor %}
                            </ol>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}